Source: ros-jazzy-rosidl-generator-dds-idl
Section: misc
Priority: optional
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rosidl-generator-dds-idl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ament-cmake, ros-jazzy-ament-index-python, ros-jazzy-rosidl-cli, ros-jazzy-rosidl-pycommon, ros-jazzy-ros-workspace
Description: Generate the DDS interfaces for ROS interfaces.
